node-red/node-red-comm-flow
[
    {
        "id": "85898a49d1eeb1f5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05703a95ffa84d32",
        "type": "comment",
        "z": "85898a49d1eeb1f5",
        "name": "Subscribe to topic",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "bf16e727bdc60f09",
        "type": "comment",
        "z": "85898a49d1eeb1f5",
        "name": "Publish to topic",
        "info": "",
        "x": 140,
        "y": 260,
        "wires": []
    },
    {
        "id": "5926d08b1cc518b3",
        "type": "debug",
        "z": "85898a49d1eeb1f5",
        "name": "msg payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "bd17537716912df9",
        "type": "mqtt out",
        "z": "85898a49d1eeb1f5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "326589e5b74421fb",
        "x": 250,
        "y": 400,
        "wires": []
    },
    {
        "id": "375b6071267cf262",
        "type": "mqtt in",
        "z": "85898a49d1eeb1f5",
        "name": "subscribe",
        "topic": "topic/hello",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "326589e5b74421fb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "5926d08b1cc518b3"
            ]
        ]
    },
    {
        "id": "326589e5b74421fb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]